{
  "consumer_key": "asdf",
  "consumer_secret": "asdf",
  "access_token": "asdf",
  "access_token_secret": "asdf",
  "sync_path": "/mnt/hdhomerun_images/",
  "blocked_channels": [
    "EDU",
    "LIQUID",
    "AMAUCT",
    "HSNHD",
    "GEM",
    "ZEAL1",
    "ZEAL2",
    "ZEAL3",
    "ZEAL4",
    "ZEAL5",
    "QVCHD",
    "EVINEHD",
    "ACCESS",
    "SPEV1",
    "SPEV2",
    "SPEV3",
    "SPEV4"
  ]
}
